* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
  font-family: lcd;
  src: url(../font/SUBWT___.ttf);
}

html {
    font-size: 62.5%;
}

body {

}

main{

}

main input{
    width: 100%;
    font-size: 3.5rem;
    margin-bottom:10px;
    background-color: black;
    color: green;
    text-align: right;
    padding: 10px 4px 10px 4px;
    font-family: lcd;
    border: 1px solid yellow;
    border-radius:4px;
}

main section#keyBoard {
    /** Grid eller liknade */
    display: grid;
    grid-template-columns: repeat(4);
    grid-auto-rows: minmax(5rem,5rem);
    grid-gap: 0.5rem;
}

#lcd {
    height: 10rem;
}

@media (max-width: 767px) {
    body {

    }

    main {

    }

    main input{

    }
}

@media (max-width: 339px) {
    main {

    }

}


/** BUTTON GRID**/




.b7 {
    grid-column: span 1;
    grid-row: span 1;
}

#b8 {

}

#b9 {

}