* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
  font-family: lcd;
  src: url(../font/SUBWT___.ttf);
}

html {
    font-size: 62.5%;
    height: 1080px;
}

body {
    padding: 1px;
    background-color: black;
    margin-top: 10px;
}

main{

}

main input{
    width: 100%;
    font-size: 3.5rem;
    margin-bottom:10px;
    background-color: black;
    color: green;
    text-align: right;
    padding: 10px 4px 10px 4px;
    font-family: lcd;
    border: 1px solid yellow;
    border-radius:4px;
}

main section#keyBoard {
    /** Grid eller liknade */
    display: grid;
    grid-template-columns: 4;
    grid-auto-columns: minmax(12rem,auto);
    grid-auto-rows: 12rem;
    grid-gap: 0.1rem;
}

#add, #sub, #mul, #comma, #enter, #div, #clear {
    color: rgb(46, 179, 209);
}


button {
    font-size: 6rem;
}

@media (max-width: 767px) {
    body {

    }

    main {

    }

    main input{

    }
}

@media (max-width: 339px) {
    main {

    }

}